extends base.pug
include mixins/picture.pug

block content
    div#postContainer(data-id=post._id)
        a(href=`/posts/${post._id}`).postTitle=post.title
        div.picContainer 
            each pic in post.pics
                +picture(pic)
            else    
                h3 No Picture!
        div 
            p.post__content=post.content
            each hashtag in post.hashtags 
               span.post__hashtag #{hashtag + " "} 
            else 
                h4 "Can't find any hastag"
            br
            small.post__createdAt=post.createdAt
        div 
            small.post__owner Uploaded by 
                a(href=`/users/${post.owner._id}`) #{post.owner.name}
        br
        br
        if String(post.owner._id) === loggedInUser._id
            div 
                a(href=`${post.id}/edit`) Edit Post &rarr;
                br
                a(href=`${post.id}/delete`) Delete Post &rarr;

block scripts 
    script(src="/assets/js/carousel.js")
        
    

